body {
    background-image: url("https://1.bp.blogspot.com/-e6u9FwG52Yg/YBdz2Aq1ofI/AAAAAAAASsk/sNyVC_1OmGMQUVzgXHaovTZ1UhpTZGOiQCPcBGAsYHg/s881/1c2352dfc90c21b78c7e0e22a065577a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}